<html>
  <head>
    <title>Hangman Game</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      body {
        font-size: 100%;
        font-family: arial, sans-serif;
        background: radial-gradient(#00796B, #004D40);
        color: white;
      }
      div#container {
        font-size: 30px;
        width: 600px;
        margin: 0 auto;
      }
      a {
        height: 100px;
        line-height: 100px;
        display: block;
        text-align: center;
        margin-top: 40px;
        text-decoration: none;
        color: #BF360C;
        box-shadow: 0 0 20px #BF360C;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <a href="/caesar_cipher">Caesar Cipher</a>
      <a href="/hangman">Hangman</a>
    </div>
  </body>
</html>
